.DS_Store
londontube.egg-info
build
.idea
londontube/__pycache__
.vscode
londontube/query/__pycache__
tests/__pycache__
.pytest_cache
draft.ipynb

# Python files
*__init__*
*__pycache__*
venv
.cz.toml
.ipynb*
.coverage

# Misc
*.swp
*.tar.gz
*.pdf
Session.vim
